@import url('http://fonts.cdnfonts.com/css/bukhari-script');

 html, body {
    max-width: 100%;
    overflow-x: hidden;
}              

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Final.JPG);
    background-position: -400px;
    margin: auto;

   
    
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    background-color: black;
    padding: 15px;
   
}

a {
    text-decoration: none;
    color: white;
}

.titulo {
    text-align: center;
    font-family: 'Bukhari Script', sans-serif;
    color: white;
    background-color: black;
    padding-bottom: 5px;
    padding-top: 5px;
   
}

a:hover {
    color: salmon;
}

.unete {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px black
    
}

.slogan {
    color:coral;
    text-align: center;
    padding-bottom: 20px;
}

.titulo4 {
    color: coral;
    font-family: 'Bukhari Script', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 5px solid coral;
    
}

.boton {
    width: 100%;
    border: none;
    padding: 15px;
}

.boton:hover {
    color: coral;
}

